
<div class="container ">

    <div class="row justify-content-center">
      <div class="col-9">
          <div class="row justify-content-center">
            <!--
            <div class="col-5">
              <form class="d-flex mb-4" role="search">
                <input class="form-control  me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
            -->
            <div class="w-100 mb-4">
              <hr>
            </div>
  
            <div *ngFor="let actividad of misActividades" class="col-4"> <!--Productos (home.component.ts)-->
                <div class="card bg-light mb-3 border border-secondary">
                    <div class="card-header">Nombre: {{actividad.fullname}}</div>
                        <!--<app-detalle [nombre]="producto.nombre"> </app-detalle>-->
                    <div class="card-body">
                        <h5 class="card-title">Código de la actividad: {{actividad.idnumber}}</h5>
                        <!--<img src="../assets/productos/{{producto.foto}}" class="card-img-top" alt="...">-->
                        <h5 class="card-title">Tipo de actividad: {{getNombreCategoria(actividad.category)}}</h5>
                        <!--<h5 class="card-title">Docente asignado: {{actividad.id_personaAdmin}}</h5>-->
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <!--<button type="submit" class="btn btn-second btn-block">Asignado</button>-->
                            <a class="btn btn-warning btn-block" [href]="'https://radd15.virtual.usac.edu.gt/ddo/course/view.php?id=' + actividad?.id" target="_blank">Ir a Moodle</a>
                        </div>
                    </div>
                </div>
            </div>
      
          </div>
      </div>
    </div>
  </div>