/* You can add global styles to this file, and also import other style files */
:host {
    font-family: 'Courier New', 'Courier';
    font-size: 14px;
    color: #333;
    background-color: #10538f; 
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

body {
    background-color: #10538f; /* Cambia este valor por el color que prefieras */
}

footer {
  background-color: #333;
  color: white;
  padding: 30px;
  text-align: left;
  position: relative;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex; 
  justify-content: space-between; /* Empuja elementos a los extremos */
  align-items: center; /* Los centra verticalmente */

}

.footer-logo img {
  height: 130px; /* Ajusta esto según el tamaño que quieras del logo */
  width: auto;  /* Mantiene la proporción de la imagen */
  display: block; /* Evita espacios fantasma debajo de la imagen */
}